@import 'variables';

$personContentMaxWidth: 410px;

:host {
  display: block;

  &.is-inverted {
    direction: rtl;
  }
}

  .__name-wrap {
    overflow: hidden;
  }

  .__background {
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;

    &:before {
      content: '';

      display: block;
      padding-bottom: 100%;
    }
  }

  .__content {
    max-width: $personContentMaxWidth + ($bu * 6);
    margin: 0 auto;
    padding: $bu ($bu *3);
    padding-top: $bu * 5;

    direction: ltr;
  }

    .__description {
      margin-top: $bu;
    }
