<ip-app-bar class="__app-bar"></ip-app-bar>

<ip-bg-lines></ip-bg-lines>

<ip-cover-section
  backgroundImage="../static/hp-cover_bg.jpg"
  defaultImage="../static/hp-cover_bg--preload.jpg"
  ctaLabel="Zjistěte víc">

  <ng-container *ipCoverSectionHeading>
    Vaše značka<br/>
    s námi bude<br/>
    lépe vidět
  </ng-container>

  <ng-container *ipCoverSectionDescription>
    Jsme PR agentura složená z odborníků,<br/>
    kteří mají roky zkušeností z médií, agentur<br/>
    i oddělení korporátní komunikace.
  </ng-container>

</ip-cover-section>

<ip-wrap>
  <div class="__intro">
    <ip-content-indenter
      class="__intro_indenter"
      indenterWidth="30px"
      indenterHeight="2px"
      indenterOffset="20px"
      contentOffset="46px">
      <p class="__intro_text">
        Vytváříme komunikační strategie, vyhledáváme
        a&nbsp;zpracováváme vhodná témata a komunikujeme s médii
        i&nbsp;klienty. Máme cenné zkušenosti z mnoha komunikačně
        složitých situací, včetně krizové komunikace, a nestraníme
        se&nbsp;žádné, ani té nejjednodušší práce, co s PR souvisí.
      </p>
    </ip-content-indenter>
  </div>

  <ip-person
    class="__person"
    [class.is-last]="last"
    [data]="item"
    [inverted]="odd"
    *ngFor="let item of peopleApi.list() | async; let odd = odd; let last = last; trackBy: _trackBy">
  </ip-person>

</ip-wrap>
