<!-- background -->
<div
  class="__background"
  [defaultImage]="defaultImage"
  [lazyLoad]="backgroundImage">
</div>

<ip-wrap class="__wrap">
  <div class="__content" [@animation]="visible">

    <ip-content-indenter
      contentOffset="90px"
      indenterOffset="30px"
      indenterHeight="4px"
      indenterWidth="60px">

      <!-- heading -->
      <ng-container [ngSwitch]="headingRef.headingLevel">
        <h1 class="__heading" *ngSwitchCase="1">
          <ng-template [ngTemplateOutlet]="headingTpl"></ng-template>
        </h1>
        <h2 class="__heading" *ngSwitchCase="2">
          <ng-template [ngTemplateOutlet]="headingTpl"></ng-template>
        </h2>
        <h3 class="__heading" *ngSwitchCase="3">
          <ng-template [ngTemplateOutlet]="headingTpl"></ng-template>
        </h3>
      </ng-container>

      <!-- description -->
      <ip-reveal-animation [animationState]="visible">
        <div class="__description">
          <ng-template [ngTemplateOutlet]="descriptionTpl"></ng-template>
        </div>
      </ip-reveal-animation>

      <!-- call to action -->
      <ip-reveal-animation [animationState]="visible">
        <button
          class="__cta"
          ip-raised-button
          *ngIf="ctaLabel && !ctaLink"
          (click)="ctaClick.emit($event)">
          <ng-template>{{ ctaLabel }}</ng-template>
        </button>
        <a
          class="__cta"
          ip-raised-button
          [href]="ctaLink"
          *ngIf="ctaLabel && ctaLink"
          (click)="ctaClick.emit($event)">
          <ng-template>{{ ctaLabel }}</ng-template>
        </a>
      </ip-reveal-animation>

    </ip-content-indenter>

  </div>
</ip-wrap>
