<!-- background -->
<div
  class="__background"
  [defaultImage]="defaultImage"
  [lazyLoad]="backgroundImage">
</div>

<ip-wrap class="__wrap">
  <div class="__content">

    <ip-content-indenter
      contentOffset="90px"
      indenterOffset="30px"
      indenterHeight="4px"
      indenterWidth="60px">

      <!-- heading -->
      <ng-container [ngSwitch]="headingRef.headingLevel">
        <h1 class="__heading" *ngSwitchCase="1">
          <ng-template [ngTemplateOutlet]="headingTpl"></ng-template>
        </h1>
        <h2 class="__heading" *ngSwitchCase="2">
          <ng-template [ngTemplateOutlet]="headingTpl"></ng-template>
        </h2>
        <h3 class="__heading" *ngSwitchCase="3">
          <ng-template [ngTemplateOutlet]="headingTpl"></ng-template>
        </h3>
      </ng-container>

      <!-- description -->
      <div class="__description">
        <ng-template [ngTemplateOutlet]="descriptionTpl"></ng-template>
      </div>

      <!-- call to action -->
      <button
        class="__cta"
        ip-raised-button
        *ngIf="ctaLabel"
        (click)="ctaClick.emit($event)">
        {{ ctaLabel }}
      </button>

    </ip-content-indenter>

  </div>
</ip-wrap>
