@import 'variables';
@import 'theme';
@import 'functions';

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  background: background('main');
  color: color('main');
  font-family: $font-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

body {
  min-height: 100%;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

button {
  margin: 0;
  padding: 0;

  background: none;
  border: 0;

  font-family: $font-main;

  cursor: pointer;
}

a {
  text-decoration: none;
}
